<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <title>Nupamore.GitHub.io by nupamore</title>

  <link rel="stylesheet" href="css/styles.css">
  <link rel="stylesheet" href="css/github-light.css">
  <meta name="viewport" content="width=device-width">
  <!--[if lt IE 9]>
  <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <style>

body {
  color: #222;
  font-size: 16px;
}
em {
  font-size: small;
  color: #aaa;
  margin: 0 5px;
  font-weight: normal;
}
ul {
  margin: 0 0 10px -15px;
}
li {
  margin: 5px 0;
}
code {
  color: #888;
  background-color: #f5f5f5;
}
h1, h2, h3, h4, h5, h6 {
  margin: 20px 0;
}

@media print, screen and (max-width: 960px) {
  section {
    margin: 50px 0;
  }
}

  </style>
</head>
<body>

  <div class="wrapper">
    <header>
      <h1>Nupamore.GitHub.io</h1>
      <p></p>
      <p class="view"><a href="https://github.com/nupamore"><img src="img/avatar.png" alt="View My GitHub Profile"></a></p>
      <br>
      <%- header %>
    </header>

    <section>
      <%- content %>
    </section>

    <footer>
      <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
    </footer>
  </div>
  <script src="js/scale.fix.js"></script>

</body>
</html>
