<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <meta name="viewport" content="width=device-width">
  <title>Nupamore.GitHub.io</title>
  <meta name='description' content='My simple resume' />

	<meta property='og:title' content='Nupamore.GitHub.io' />
	<meta property='og:url' content='https://nupamore.github.io/' />
	<meta property='og:description' content='My simple resume' />
	<meta property='og:image' content='https://nupamore.github.io/favicon.png' />

	<meta name='twitter:url' content='https://nupamore.github.io/' />
	<meta name='twitter:title' content='Nupamore.GitHub.io' />
	<meta name='twitter:description' content='My simple resume' />
	<meta name='twitter:image:src' content='https://nupamore.github.io/favicon.png' />
	<meta name='twitter:card' content='summary_large_image' />

	<link rel='canonical' href='https://nupamore.github.io/'>
	<link rel='icon' type='image/png' href='/favicon.png'>
	<link rel='shortcut icon' href='/favicon.png'>

  <link rel="stylesheet" href="css/styles.css">
  <link rel="stylesheet" href="css/github-light.css">
  <link rel="stylesheet" href="css/index.css">

  <script src="https://use.fontawesome.com/1505acc4d9.js"></script>
  <!--[if lt IE 9]>
  <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>

  <div class="wrapper">
    <header>
      <%- header %>
    </header>

    <section>
      <%- content %>
    </section>

    <footer>
      <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
    </footer>
  </div>
  <script src="js/scale.fix.js"></script>

</body>
</html>
